{% extends 'taskmanagerapp/base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="page-header">
  <h1>Add Comments</h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'project_list' %}">Home</a></li>
    <li class="">Project</li>
    <li class="active">Add Comment</li>
  </ol>
</div>

<form method="post" class="comment-form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
      <button type="submit" class="btn btn-primary">Submit</button>
  {% endbuttons %}
</form>
{% endblock %}
