{% extends 'taskmanagerapp/base.html' %}
{% block content %}
  <div class="page-header">
    <h1>Project</h1>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      Project
    </div>
      <!-- Table -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Project</th>
            <th>Author</th>
            <th>Created</th>
            <th>Last update</th>
            <th>Users</th>
            <th>Status</th>
            <th>deadline</th>
            <th>Priority</th>
            <th>description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ proj.title }}</td>
            <td>{{ proj.author }}</td>
            <td><span class="label label-success">{{ proj.project_status }}</span></td>
            <td><span class="label label-success">{{ proj.priority }}</span></td>
            <td>{% for user in proj.assigned_users.all %}
                  {{ user }}
                {% endfor %}
            </td>
            <td>{{ proj.project_status }}</td>
            <td>{{ proj.deadline }}</td>
            <td>{{ proj.priority }}</td>
            <td>{{ proj.description }}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- EndTable -->

    <div class="panel panel-default">
      <div class="panel-body">
        <h1>{{ proj.title }}</h1>
        <a href="{% url 'project_edit' pk=proj.pk %}" class="btn btn-primary btn-xs" role="button">Edit Project</a>
        <div class="row">
          <div class="col-md-6">.col-md-6</div>
          <div class="col-md-6">.col-md-6</div>
        </div>
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>

{% endblock %}
